kind: Deployment

name: frontend

replicaCount: 1

image:
  repository: shejulv088/final_frontend
  tag: v3

service:
  type: ClusterIP
  port: 80

config: {}
secret: {}

initContainers:
  - name: wait-for-backend
    image: busybox:1.36
    command:
      - sh
      - -c
      - |
        echo "Waiting for backend to be ready..."
        until nc -z api-gateway 8080; do
          echo "Backend not ready, sleeping 5s..."
          sleep 5
        done
        echo "Backend is ready!"

livenessProbe:
  path: /
  initialDelaySeconds: 120
  periodSeconds: 20

readinessProbe:
  path: /
  initialDelaySeconds: 60
  periodSeconds: 10

resources: {}
